<a href="https://colab.research.google.com/github/patlollalak/Laxma_projects/blob/master/decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import files
uploaded = files.upload()

Saving german_credit.csv to german_credit.csv

In [0]:
import io
df = pd.read_csv(io.BytesIO(uploaded['german_credit.csv']))

In [5]:
df.head()

  checking_acc  duration    credit_hist  ... Telephone  foreign_worker cost_matrix
0          low         6       critical  ...       yes             yes           1
1       medium        48  existing_paid  ...        no             yes           2
2       no_acc        12       critical  ...        no             yes           1
3          low        42  existing_paid  ...        no             yes           1
4          low        24          delay  ...        no             yes           2

[5 rows x 21 columns]

In [11]:
df.credit_hist.unique()

array(['critical', 'existing_paid', 'delay', 'no_credit', 'paid'],
      dtype=object)

In [10]:
df.describe()

          duration  credit_amount  ...  no_people_liable  cost_matrix
count  1000.000000    1000.000000  ...       1000.000000  1000.000000
mean     20.903000    3271.258000  ...          1.155000     1.300000
std      12.058814    2822.736876  ...          0.362086     0.458487
min       4.000000     250.000000  ...          1.000000     1.000000
25%      12.000000    1365.500000  ...          1.000000     1.000000
50%      18.000000    2319.500000  ...          1.000000     1.000000
75%      24.000000    3972.250000  ...          1.000000     2.000000
max      72.000000   18424.000000  ...          2.000000     2.000000

[8 rows x 8 columns]